body{
    font-family: Calibri;
    padding: 0;
    margin: 0;
}
h1{
	color: black;
	font-size: 50px;
	margin-top: 50px;
	border-bottom: 4px solid black;
	text-align: center;
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    align: center;
}

p{
  font-size: 20px;
}


#konteiner1{
    width: 100%;
    text-align: center;
    margin: 0 auto;

}
#konteiner2{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
#konteiner2 img{
    align: right;
}
#nav ul li a{
    color: #ccc;
    display: block;
    padding: 15px;
    text-decoration: none;
}
button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    height:300px;
    width:300px;

}



#nav{
    background: #333;
}
#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}
#nav img{
 vertical-align: middle;
 width: 50px;
 horizontal-align: left;

}
#nav ul li{
    display: inline-block;
    font-size: 18px;
}
#nav ul li img{
 vertical-align: middle;
 width: 12px;

}



#nav ul a:hover{
    color: #009999;
}
#nav ul li:hover ul{
    display: block;
}
#nav ul ul{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;
    text-align:center;

}
#nav ul ul li{
    display: block;

}
#nav ul ul a:hover{
    color: #099;
}
