{% extends "admin/base.html" %}
{% load staticfiles %}
{% block title %}NRG Administratsioon{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img src="{% static 'img/transparent_NRG_2.png' %}">Nõo Reaalgümnaasium</a></h1>

{% endblock %}

{% block extrastyle %}
<style>
    #header
    {
       height: 100px;
        background-color: #145699;
        text-align: center;
    }
    #header h1 a img
    {
        margin-left: auto;
        width: 100px;
    }
    #header h1 a
    {
        font-size: 20px;
    }
</style>
{% endblock %}

{% block nav-global %}{% endblock %}





