<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="UTF-8.1">
  <title>Tunniplaan</title>
    {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/stiil.css'%}" type='text/css'/>

</head>

<body background="{% static 'img/pilt.jpg' %}">
        <div id="konteiner1">
            <div id="nav">
                <div id="nav-wrapper">
                <ul>
                    <img src="{% static 'img/transparent_NRG_2.png' %}">

                    <li><a href="/admin">Muuda tunniplaani</a></li>
                    <li><a href="#">Tunniplaan<img src="{% static 'img/ddarrow.ico' %}"></a>
                        <ul>
                            <a href="/10a"><li>10A</li></a>
                            <a href="/10b"><li>10B</li></a>
                            <a href="/10c"><li>10C</li></a>
                            <a href="/11a"><li>11A</li></a>
                            <a href="/11b"><li>11B</li></a>
                            <a href="/11c"><li>11C</li></a>
                            <a href="/12a"><li>12A</li></a>
                            <a href="/12b"><li>12B</li></a>
                            <a href="/12c"><li>12C</li></a>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>
            <img src="{% static 'img/transparent_NRG_2.png' %}">
        </div>
</body>
</html>